<a href="https://colab.research.google.com/github/shruthi-uligonda/DAV-11/blob/main/Data_Wrangling_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Wrangling
#Filling null
#Duplicates
#Rename
#Dropna
#Add coloums
#Sort
#Groupby

In [10]:
import pandas as pd
import numpy as np

In [47]:
data={
    "Names":["Radhakrishna","Shivparvati","Laxminarasimha","Srivenkatesh","Devakivasudev"],
    "Age":[24.0,27,39,33,53],
    "Place":["Gujarath","Uttarpradesh","Hyderabad","Andhrapradesh","Uttarkhand"],
    "Salary":[280000,309800,87900,677000,560090],
}
df = pd.DataFrame(data)

In [20]:
df.isnull()

   Names    Age  Place  Salary
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False
4  False  False  False   False

In [21]:
df['Age']=df["Age"].fillna(df["Age"].mean())
df["Place"]=df["Place"].fillna("Unknown")
print(df)

            Names  Age          Place  Salary
0    Radhakrishna   24       Gujarath  280000
1     Shivparvati   27   Uttarpradesh  309800
2  Laxminarasimha   39      Hyderabad   87900
3    Srivenkatesh   33  Andhrapradesh  677000
4   Devakivasudev   53     Uttarkhand  560090

In [23]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [37]:
df1=df.drop_duplicates()
print(df1)

            Names  Employee_Age          Place  Salary
0    Radhakrishna            24       Gujarath  280000
1     Shivparvati            27   Uttarpradesh  309800
2  Laxminarasimha            39      Hyderabad   87900
3    Srivenkatesh            33  Andhrapradesh  677000
4   Devakivasudev            53     Uttarkhand  560090

In [38]:
df1.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [43]:
df2=df1.dropna(subset=['Salary'])
print(df2)

            Names  Employee_Age          Place  Salary
0    Radhakrishna            24       Gujarath  280000
1     Shivparvati            27   Uttarpradesh  309800
2  Laxminarasimha            39      Hyderabad   87900
3    Srivenkatesh            33  Andhrapradesh  677000
4   Devakivasudev            53     Uttarkhand  560090

In [44]:
df2= df2.rename(columns={"Names": "Employee_Name", "Age": "Employee_Age"})
print(df2)

    Employee_Name  Employee_Age          Place  Salary
0    Radhakrishna            24       Gujarath  280000
1     Shivparvati            27   Uttarpradesh  309800
2  Laxminarasimha            39      Hyderabad   87900
3    Srivenkatesh            33  Andhrapradesh  677000
4   Devakivasudev            53     Uttarkhand  560090

In [45]:
df2=df2.rename(columns={"Place":"Location","Salary":"Income"})
print(df2)

    Employee_Name  Employee_Age       Location  Income
0    Radhakrishna            24       Gujarath  280000
1     Shivparvati            27   Uttarpradesh  309800
2  Laxminarasimha            39      Hyderabad   87900
3    Srivenkatesh            33  Andhrapradesh  677000
4   Devakivasudev            53     Uttarkhand  560090

In [48]:
df2['Employee_Age'] = df2['Employee_Age'].astype(int)   # convert float â†’ int
print(df2)

    Employee_Name  Employee_Age       Location  Income
0    Radhakrishna            24       Gujarath  280000
1     Shivparvati            27   Uttarpradesh  309800
2  Laxminarasimha            39      Hyderabad   87900
3    Srivenkatesh            33  Andhrapradesh  677000
4   Devakivasudev            53     Uttarkhand  560090

In [51]:
df_filtered = df2[df2['Income'] > 60000]
print(df_filtered)

    Employee_Name  Employee_Age       Location  Income
0    Radhakrishna            24       Gujarath  280000
1     Shivparvati            27   Uttarpradesh  309800
2  Laxminarasimha            39      Hyderabad   87900
3    Srivenkatesh            33  Andhrapradesh  677000
4   Devakivasudev            53     Uttarkhand  560090

In [53]:
df2['Bonus'] = df2['Income'] * 0.10
print(df2)

    Employee_Name  Employee_Age       Location  Income    Bonus
0    Radhakrishna            24       Gujarath  280000  28000.0
1     Shivparvati            27   Uttarpradesh  309800  30980.0
2  Laxminarasimha            39      Hyderabad   87900   8790.0
3    Srivenkatesh            33  Andhrapradesh  677000  67700.0
4   Devakivasudev            53     Uttarkhand  560090  56009.0

In [54]:
df2=df2.sort_values(by='Income',ascending=False)
print(df2)

    Employee_Name  Employee_Age       Location  Income    Bonus
3    Srivenkatesh            33  Andhrapradesh  677000  67700.0
4   Devakivasudev            53     Uttarkhand  560090  56009.0
1     Shivparvati            27   Uttarpradesh  309800  30980.0
0    Radhakrishna            24       Gujarath  280000  28000.0
2  Laxminarasimha            39      Hyderabad   87900   8790.0

In [55]:
df_group=df2.groupby("Location")["Income"].mean()
print(df_group)

Location
Andhrapradesh    677000.0
Gujarath         280000.0
Hyderabad         87900.0
Uttarkhand       560090.0
Uttarpradesh     309800.0
Name: Income, dtype: float64