<a href="https://colab.research.google.com/github/shruthi-uligonda/DAV-11/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [22]:
sales_missing=pd.DataFrame({
    "OrderID":[101,102,103,104,105,102],
    "Product":["Laptop","Mobile","Tablet",None,"Headphones","Mobile"],
    "Quantity":[2,None,5,3,1,None],
    "Price":[50000,20000,15000,30000,None,20000],
    "City":["Delhi","Mumbai",None,"Chennai","Hyderabad","Mumbai"]
})
print(sales_missing)

   OrderID     Product  Quantity    Price       City
0      101      Laptop       2.0  50000.0      Delhi
1      102      Mobile       NaN  20000.0     Mumbai
2      103      Tablet       5.0  15000.0       None
3      104        None       3.0  30000.0    Chennai
4      105  Headphones       1.0      NaN  Hyderabad
5      102      Mobile       NaN  20000.0     Mumbai

In [23]:
sales_missing.isnull()

   OrderID  Product  Quantity  Price   City
0    False    False     False  False  False
1    False    False      True  False  False
2    False    False     False  False   True
3    False     True     False  False  False
4    False    False     False   True  False
5    False    False      True  False  False

In [24]:
sales_missing['Quantity']=sales_missing["Quantity"].fillna(sales_missing["Quantity"].mean())
sales_missing["Price"]=sales_missing["Price"].fillna("Unknown")
print(sales_missing)

   OrderID     Product  Quantity    Price       City
0      101      Laptop      2.00  50000.0      Delhi
1      102      Mobile      2.75  20000.0     Mumbai
2      103      Tablet      5.00  15000.0       None
3      104        None      3.00  30000.0    Chennai
4      105  Headphones      1.00  Unknown  Hyderabad
5      102      Mobile      2.75  20000.0     Mumbai

In [25]:
sales_missing.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [26]:
sales_missing=sales_missing.drop_duplicates()
print(sales_missing)

   OrderID     Product  Quantity    Price       City
0      101      Laptop      2.00  50000.0      Delhi
1      102      Mobile      2.75  20000.0     Mumbai
2      103      Tablet      5.00  15000.0       None
3      104        None      3.00  30000.0    Chennai
4      105  Headphones      1.00  Unknown  Hyderabad

In [27]:
sales_missing.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [28]:
sales_missing=sales_missing.dropna(subset=["Price"])
print(sales_missing)

   OrderID     Product  Quantity    Price       City
0      101      Laptop      2.00  50000.0      Delhi
1      102      Mobile      2.75  20000.0     Mumbai
2      103      Tablet      5.00  15000.0       None
3      104        None      3.00  30000.0    Chennai
4      105  Headphones      1.00  Unknown  Hyderabad

In [29]:
sales_missing=sales_missing.rename(columns={"City":"Location","OrderID":"ProductID"})
print(sales_missing)

   ProductID     Product  Quantity    Price   Location
0        101      Laptop      2.00  50000.0      Delhi
1        102      Mobile      2.75  20000.0     Mumbai
2        103      Tablet      5.00  15000.0       None
3        104        None      3.00  30000.0    Chennai
4        105  Headphones      1.00  Unknown  Hyderabad

In [31]:
sales_missing["Quantity"]=sales_missing["Quantity"].astype(int)
print(sales_missing)

   ProductID     Product  Quantity    Price   Location
0        101      Laptop         2  50000.0      Delhi
1        102      Mobile         2  20000.0     Mumbai
2        103      Tablet         5  15000.0       None
3        104        None         3  30000.0    Chennai
4        105  Headphones         1  Unknown  Hyderabad

In [33]:
sales_missing_filtered=sales_missing[sales_missing["Quantity"]>3]
print(sales_missing_filtered)

   ProductID Product  Quantity    Price Location
2        103  Tablet         5  15000.0     None

In [39]:
sales_missing["Price"] = pd.to_numeric(sales_missing["Price"], errors="coerce")
sales_missing["Bonus"] = sales_missing["Price"] * 0.1
print(sales_missing)

   ProductID     Product  Quantity    Price   Location   Bonus
0        101      Laptop         2  50000.0      Delhi  5000.0
1        102      Mobile         2  20000.0     Mumbai  2000.0
2        103      Tablet         5  15000.0       None  1500.0
3        104        None         3  30000.0    Chennai  3000.0
4        105  Headphones         1      NaN  Hyderabad     NaN

In [40]:
sales_missing=sales_missing.sort_values(by="Price",ascending=False)
print(sales_missing)

   ProductID     Product  Quantity    Price   Location   Bonus
0        101      Laptop         2  50000.0      Delhi  5000.0
3        104        None         3  30000.0    Chennai  3000.0
1        102      Mobile         2  20000.0     Mumbai  2000.0
2        103      Tablet         5  15000.0       None  1500.0
4        105  Headphones         1      NaN  Hyderabad     NaN