<a href="https://colab.research.google.com/github/shruthi-270706/DAV-11/blob/main/p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
list1=[1,2,3,4,5]
print(list1)
array1=(6,7,8,9)
print(array1)
list2=list(array1)
print(list2)
sum=list1+list2
print(sum)

[1, 2, 3, 4, 5]
(6, 7, 8, 9)
[6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
import pandas as pd
data={
    'Name':['Vishnu', 'krishna', 'Parvati','Bramha','sita','Shiv','Radha'],
    'Age':[23,56,61,29,38,18,27],
    'Gender':['M','M','F','M','F','M','F'],
    'Htno':['2403A52298','2403A52299','2403A52300','2403A52301','2403A52302','2403A52303','2403A52304'],
    'Course':['CSE','Bsc','Pharmacy','EEE','Civil','Mechanical','MBBS'],
    'Address':['Vaikunt','Vrindhavan','Kanchipuram','Brahmalok','Janakpur','Kedarnath','Barsana'],
}
df=pd.DataFrame(data)
print(df)

      Name  Age Gender        Htno      Course      Address
0   Vishnu   23      M  2403A52298         CSE      Vaikunt
1  krishna   56      M  2403A52299         Bsc   Vrindhavan
2  Parvati   61      F  2403A52300    Pharmacy  Kanchipuram
3   Bramha   29      M  2403A52301         EEE    Brahmalok
4     sita   38      F  2403A52302       Civil     Janakpur
5     Shiv   18      M  2403A52303  Mechanical    Kedarnath
6    Radha   27      F  2403A52304        MBBS      Barsana