<a href="https://colab.research.google.com/github/shruthi-uligonda/DAV-11/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

In [15]:
list=[1,2,"Radha",8,9,"krishna"]
print(list)

[1, 2, 'Radha', 8, 9, 'krishna']

In [16]:
Tuple=(1,2,"Radha",8,9,"krishna")
print(Tuple)

(1, 2, 'Radha', 8, 9, 'krishna')

In [17]:
dictionary={"Name":"Radha","Age":20,"city":"Mathura"}
print(dictionary)

{'Name': 'Radha', 'Age': 20, 'city': 'Mathura'}

In [40]:
data={"Name":["Radha","Krishna","Shiv","Pravati"],
      "Age":[19,12,23,20],
      "City":["Mathura","Gokul","Kedarnath","Amarnath"]}
print(data)
df1= pd.DataFrame(data)
print(df1)
df1.to_csv('input.csv')

{'Name': ['Radha', 'Krishna', 'Shiv', 'Pravati'], 'Age': [19, 12, 23, 20], 'City': ['Mathura', 'Gokul', 'Kedarnath', 'Amarnath']}
      Name  Age       City
0    Radha   19    Mathura
1  Krishna   12      Gokul
2     Shiv   23  Kedarnath
3  Pravati   20   Amarnath

In [33]:
data1={"Cinema":["Varudu Kavalenu","Fidaa","Alavaikuntapuramlo","Singham"],
       "Hero":["Naga Shourya","Varun","Allu Arjun","Surya"],
       "Heroin":["Ritu Varma","Sai Pallavi","Pooja Hegde","Anushka"]}
df2=pd.DataFrame(data1)
print(df2)
df2.to_csv("input.csv")

               Cinema          Hero       Heroin
0     Varudu Kavalenu  Naga Shourya   Ritu Varma
1               Fidaa         Varun  Sai Pallavi
2  Alavaikuntapuramlo    Allu Arjun  Pooja Hegde
3             Singham         Surya      Anushka

In [41]:
merge_df = pd.concat([df1, df2], axis=1)
print(merge_df)

      Name  Age       City              Cinema          Hero       Heroin
0    Radha   19    Mathura     Varudu Kavalenu  Naga Shourya   Ritu Varma
1  Krishna   12      Gokul               Fidaa         Varun  Sai Pallavi
2     Shiv   23  Kedarnath  Alavaikuntapuramlo    Allu Arjun  Pooja Hegde
3  Pravati   20   Amarnath             Singham         Surya      Anushka